<div class="content">
  <div>
    <h1>Welcome to TypeScript Playground</h1>

    <p>
      To start coding, you need to login with your school account (Microsoft
      Entra ID, same account that you use to access your school email or
      Microsoft Teams).
    </p>

    <a href="/login">Login with Entra ID</a>
  </div>
</div>