<button id="print" class="print-hide pr">Print page</button>

    <div class="table-scroller">
        <table class="admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>User</th>
                    <th>TAN</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{accountName}}</td>
                    <td>{{plainTan}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

<script>
    document.getElementById('print').addEventListener('click', function() {
        window.print();
    });
</script>