html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid black;
}

form.edit {
    display: grid;
    gap: 5px;
    grid-template-columns: min-content minmax(0, 500px);;

}

form.edit label {
    padding-right: 5px;
}

form.edit input[type="checkbox"] {
    justify-self: left;
}

span.link {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.content > div {
    max-width: 1280px;
    width: 100%;
}