:root {
  --top-bar-height: 50px;

  --top-bar-color: white;
  --top-bar-bg-color: #3a6e86;
  --top-bar-border-color: #4d90ae;
  --top-bar-selected-bg-color: #5190ad;

  --button-padding: 5px 10px;
  --border-radius: 5px;

  --button-font-size: 13px;
}

html, body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1.hero {
  padding: 40px 10px 10px 10px;
  background-color: var(--top-bar-bg-color);
  color: var(--top-bar-color);
}


table {
  margin-top: 20px;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  border: 1px solid black;
}

form.edit {
  display: grid;
  gap: 5px;
  grid-template-columns: min-content minmax(0, 500px);
}

form.edit label {
  padding-right: 5px;
}

form.edit input[type="checkbox"] {
  justify-self: left;
}

span.link {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

.content {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Optional: Adjust the gap between tiles */
  padding: 0;
  list-style: none;
}

ul li {
  width: 15%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
